{{displayValue}}
<div class="duration-input_controls">
  <button class="duration-input_increase" {{action "increase"}}>Up</button>
  <button class="duration-input_decrease" {{action "decrease"}}>Down</button>
</div>